  <div class="post" data-name= "{{name}}" data-subject= "{{subject}}" data-price="{{price}}" data-phone="{{phone}}" data-profile={{profile}}>
    <div class="post-contents">
      <div class="post-image-container">
        <img src={{photoURL}} alt="{{name}}">
      </div>
      <div class="post-info-container">
        <span class="post-subject">{{subject}}</span>
         <span class="post-price">${{price}}/hour</span>
         <div>
         </div>
          <span class="post-profile">Description of {{name}}:</span>
          <div>
            
          </div>
          <span class="post-profile">{{profile}}</span>
      </div>
    </div>
  </div>