<main id="profile-content">
    <div class="profile-photo-container">
        <img src={{photoURL}} alt="{{name}}">
    </div>
    <div class="profile-info-container">
        <div class="profile-name">Name: {{name}}</div>
        <div class="profile-subject">Subject: {{subject}}</div>
        <div class="profile-price">Hourly Rate: ${{price}}</div>
        <div class="profile-phone">Phone Number: {{phone}}</div>
        <div class="profile-text">Profile: {{profile}}</div>
    </div>
</main>